footer {
    margin-bottom: 0;
}

#recipe-btn {
    background-color: #ffde59;
    color: black;
}

.nav-logo {
    margin: .2%;
    width: 3%;
}

.nav-wrapper {
    background-color: #ff66c4;
}

/* putting stuff about Blogs Here*/

#the-left {
    margin-top: 200px;
    background-image: linear-gradient(to right, orange, yellow);

}

#the-right {
    margin-top: 200px;
    background-image: linear-gradient(to right, aqua, hotpink);
}

.blogspots {

    border: 2px solid black;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 50px;
}

.box-heading1 {
    text-shadow: 3px 3px 2px black;
    color: aqua;
    font-variant: small-caps;
    font-size: 200%;
    font-weight: bold;
}

.box-heading2 {
    color: hotpink;
    text-shadow: 3px 3px 2px black;
    font-variant: small-caps;
    font-size: 200%;
    font-weight: bold;

}

/* Card for comments */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.state-facts {
    font-weight: 600;
}

#saveItM {
    background-image: linear-gradient(to right, aqua, hotpink);
    width: 100%;
    height: 150px;
    border: 1px solid black;
    overflow: scroll;
}

#saveItC {
    background-image: linear-gradient(to right, orange, yellow);
    width: 100%;
    height: 150px;
    border: 1px solid black;
    overflow: scroll;
}

.merc-input {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: solid #5B6DCD 3px;
    padding: 5px;
}

.blog-text {
    color: white;
}

#input-box {
    box-sizing: border-box;
    width: 100%;
    border: solid #c48613 10px;
    padding: 5px;
}

#nav-link {
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
    color: aqua;
}

#header-bar {
    font-family: cursive;
    font-size: 40px;
    color: aqua;
    padding: 1%;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    background-color: #ff66c4;
    border-radius: 15px;
}

.map {
    width: 100%;
    height: 94%;
    margin-top: 3.3%;
}

nav {
    position: absolute;
    z-index: 2;
}

iframe {
    position: absolute;
    z-index: 0;
}

#mobile-demo {
    background-color: #ff66c4;
}

#footer {
    margin-top: 35%;
    background-color: #f81ca4e5;
    color: aqua;
}

.section {
    background-color: #ff66c4;
}

#page {
    margin-top: 150px;
}

#bacon {
    color: #ff66c4;
    font-weight: bold;
}
#bacon2 {
    color:#ff66c4;
    font-weight: bold;
}
#search {
    background-color: #ffde59;
}
#cite {
    font-size: x-small;
    text-indent: 50px;
}


#rb-btns {
    font-size: x-large;
}
#dict {
    background-color: black;
    color: white;
}

#welcome {
    background-image: linear-gradient(to right, #ffde59, #ff66c4);
    padding: 7.5px;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 15%;
    font-family: cursive;
    color: aqua;
    text-align: center;
}

#welcome-logo {
    position: absolute;
    top: 108px;
    left: 120px;
    height: 9%;
    width: 9%;
}

#search-bar{
    position: absolute;
    z-index: 1;
    color: white;
    top: 95px;
    right:35px;
    background-color: #ff66c4;
    border-radius: 15px;
}
#search-bar-text{
    font-size: 18px;
    font-family: cursive;
    color: aqua;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        margin: .2%;
        width: 10%;
    }
}

@media screen and (max-width: 576px) {}
