footer {
    margin-bottom: 0;
}

#recipe-btn {
    background-color: aqua;
    color: black;
}

.nav-logo {
    margin: .2%;
    width: 3%;
}

.nav-wrapper {
    background-color: #ff66c4;
}

#background {
    background-image: url(image/background.jpg);
}

/* BEGIN donut-blog css here
/* Putting stuff about Blogs Here*/

/* below is for both right and left frames. they are different color schemes */
#two-blogs {
    width: 100%;
    height: 300px;
}

#the-left {
    margin-top: 200px;
    background-image: linear-gradient(to right, orange, yellow);
    height: 2000px;
}

#the-right {
    margin-top: 200px;
    background-image: linear-gradient(to right, aqua, hotpink);
    height: 2000px
}

#left-card {
    height: 60%;
}

#right-card {
    height: 60%;
}

/* add style for both blogging areas */
.blogspots {

    border: 2px solid black;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 50px;
}

.box-heading1 {
    text-shadow: 3px 3px 2px black;
    color: aqua;
    font-variant: small-caps;
    /* font-size: 200%; */
    font-weight: bold;
}

.box-heading2 {
    color: hotpink;
    text-shadow: 3px 3px 2px black;
    font-variant: small-caps;
    font-size: 200%;
    font-weight: bold;

}


.state-facts {
    /* font-weight: 600; */
    font-style: italic;
    background: #CCCCCC;
color: teal;
text-shadow: -1px -1px 5px #666666,
                       1px 1px 5px #FFFFFF;

}

#saveItM {
    background-image: linear-gradient(to right, aqua, hotpink);
    width: 100%;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
    margin: 20px;
    -webkit-transition: color .5s;
    /* For Safari 3.0 to 6.0 */
    transition: color .5s;
    /* For modern browsers */
}

#saveItC {
    background-image: linear-gradient(to right, orange, yellow);
    width: 100%;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
    margin: 20px;
    -webkit-transition: color .5s;
    /* For Safari 3.0 to 6.0 */
    transition: color .5s;
    /* For modern browsers */
}

.blog-input {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: solid #5B6DCD 3px;
    padding: 5px;
}

/* found this on the net. thought it was really catchy */
#saveItC:hover {
    color: white;
    text-shadow: 1px 0 0 #060505, 0 -1px 0 #0f0c0c, 0 1px 0 #080606, -1px 0 0 #0c0606;
}

#saveItM:hover {
    color: white;
    text-shadow: 1px 0 0 #060505, 0 -1px 0 #0f0c0c, 0 1px 0 #080606, -1px 0 0 #0c0606;
}

.blog-footer {
    position:fixed;
    width: 100%;
    bottom:0;
}

.blog-text {
    color: rgb(14, 8, 8)ed;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* END of donut-blog css */


/* Card for merch */
.merchcard {
    border-radius: 5px;
    background-color: #ff66c4;
    padding: 10px;
    margin-top: 20px;
}

/* Card for comments */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#abme {
    font-size: large;
    font-family: pypyrus;
}


#poll-title {
    color: #ff66c4;
    font-weight: bold;
}

#input-box {
    box-sizing: border-box;
    width: 100%;
    border: solid #c48613 10px;
    padding: 5px;
}

#nav-link {
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
    color: aqua;
}

#header-bar {
    font-family: cursive;
    font-size: 40px;
    color: aqua;
    padding: 1%;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    background-color: #ff66c4;
    border-radius: 15px;
}

.map {
    width: 100%;
    height: 94%;
    margin-top: 3.3%;
}

nav {
    position: absolute;
    z-index: 2;
}

iframe {
    position: absolute;
    z-index: 0;
}

#mobile-demo {
    background-color: #ff66c4;
}

#footer {
    background-color: #f81ca4e5;
    color: aqua;
}

.section {
    background-color: #ff66c4;
}

#page {
    margin-top: 150px;
}

#bacon {
    color: #ff66c4;
    font-weight: bold;
}

#bacon2 {
    color: #ff66c4;
    font-weight: bold;
}

#search {
    background-color: #ffde59;
}

#cite {
    font-size: x-small;
    text-indent: 50px;
}
#url {
    background-color: #ffde59;
    color: black;
    font-weight: bold;
}
#ingredients{
    font-size: small;
}
#rb-btns {
    font-size: x-large;
    background-color: #ffde59;
}

#dict {
    background-color: black;
    color: white;
}
#recipe-title {
    font-weight: bolder;
    background-color: #ff66c4;
}
#rec-search {
    background-color: #45B6FA;
}
#welcome {
    background-image: linear-gradient(to right, #ffde59, #ff66c4);
    padding: 7.5px;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 15%;
    font-family: cursive;
    color: aqua;
    text-align: center;
}

#welcome-logo {
    position: absolute;
    top: 108px;
    left: 120px;
    height: 9%;
    width: 9%;
}

#search-bar {
    width: 500px;
    height: 90px;
    position: absolute;
    z-index: 1;
    color: white;
    top: 80px;
    right: 35px;
    background-color: #ff66c4;
    border-radius: 15px;
}

#search-bar-text {
    font-size: 18px;
    font-family: cursive;
    color: aqua;
    padding: 5px;
}

#search-btn {
    color: black;
    background-color: aqua;
    left: 380px;
    bottom: 120px;
}

#textarea1 {
    margin-top: 30px;
}

#placeholder {
    font-family: cursive;
    color: aqua;
    font-size: 18px;
}

#close-btn {
    background-color: #ff66c4;
    font-weight: bold;
}

#about-us{
    background-color: #ff66c4;
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    height: 500px;
    left: 5%;
}

#about-us-card {
    left: 5%;
    height: 90%;
    width: 90%;
}

#puzzle-card {
    background-color: #ff66c4;
    height: 50%;
    width: 50%;
    left: 110%;
    bottom: 200px;
}

#NL-card {
    background-color: #ff66c4;
    left: 5%;
    bottom: 400px;
}

#NL-pic {
    left: 20%;
    height: 60%;
    width: 60%;
}

#italisize {
    font-style: italic;
}

#bold {
    font-weight: bold;
}

#poll {
    width: 50%;
    height: 50%;
}

#poll-btn-donut {
    background-color: #45B6FA;
    position: absolute;
    right: 20%;
    bottom: 25%;
}

#poll-btn-doughnut {
    background-color: #F4486B;
    position: absolute;
    right: 20%;
    bottom: 20%;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        margin: .2%;
        width: 10%;
    }
}

@media screen and (max-width: 576px) {}